{% load static %}
<div>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <header>
    <h1>Rodízio de Pizza</h1>
  </header>
  <main>
    {% if latest_question_list %}
      <ul>
        {% for question in latest_question_list %}
          <li>
            <a href="{% url 'backend:vote' question.id %}">{{ question.text }}</a>
          </li>
        {% endfor%}
      </ul>

    {% else %}
      <p>Não há perguntas</p>  

    {% endif %}

  </main>

  <footer>Gabriel Trindade - 2186101052</footer>
</div>
