{% load static %}
<div>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <header>
    <h1>Rodízio de Pizza</h1>
  </header>
  <main>
    <div style="padding: 1em;">

      <form action="{% url 'backend:vote' question.id %}" method="post">
        {% csrf_token %}
        <h2>{{ question.text }}</h2>
        <div style="padding: 1em;">
          {% for option in question.option_set.all %}

          <input id="{{option.id}}" type="radio" value="{{option.text}}" name="radio" />
          <label for="{{option.text}}">{{option.text}}</label>

          {% endfor %}

        </div>
        <input type="submit"></input>

      </form>

    </div>

    <div class="botoes">
      <a href="{% url 'backend:index' %}">Página inicial</a>
      <a href="{% url 'backend:results' question.id %}">Acompanhe os resultados</a>
    </div>

  </main>
  <footer>Gabriel Trindade - 2186101052</footer>
</div>